.hero-container {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 30px;
    margin: 100px;
    color: #263238;
}

.hero-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-profile img {
    width: 250px;
    object-fit: contain;
    /* background-color: #263238; */
}

.hero-info {
    font-size: 18px;
    margin: 20px;
}

.hero-info div {
    padding: 10px;
}

.hero-role {
    font-weight: bold;
    padding: 15px;
}

.hero-main h1 {
    font-size: 45px;
}